@import url('https://fonts.googleapis.com/css?family=Muli|Raleway');

body{
  font-size: 125%;
  margin: 0;
  padding: 0;
  font-family: 'Muli';
  background: #123;
  color: #123;
  text-align: justify;
}

header{
  font-family: 'Raleway';
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  color: #eff;
  background: #012;
  width: 100vw;
  padding-bottom: 10px;
  text-align: center;
}

header h1{
  margin: 0;
  padding-top: 20px;
}

header nav{
  background: #123;
}

header nav ul li{
  border-top: 0px;
  width: 33%;
  list-style: none;
  float: left;
  cursor: pointer;
}

header nav ul li a:hover{
  color: #eff;
}

div#banner{
  background: #304558;
  width: 100vw;
  height: 300px;
  overflow: hidden;
  margin: 0;
}

div#banner img{
  width: 100vw;
  height: auto;
}

main{
  display: grid;
  z-index: 1000;
  padding: 0 20px;
  width: 80vw;
  max-width: 994px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  background: #eff;
}

a{
  text-decoration: none;
  color: #8ab;
}

#achievements a:hover{
  background: #234;
  border-radius: 3px;
}

ul li{
  list-style: none;
}

#pics{
  width: auto;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  
}

.prev:hover{
  background-color: rgba(0,0,255,0.8);
}
.next:hover {
  background-color: rgba(255,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
